<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de administrador</title>
</head>
<body>
    <main>
        <header>
            <h1>Panel de administrador</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Inicio</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <h2>Usuarios</h2>
            <ul>
                {% for user in users %}
                <li>Nombre:{{ user[1] }} - Email:{{ user[2] }} - Tipo:{{ user[4] }}</li>
                {% endfor %}
            </ul>
        </section>
    </main>
</body>
</html>