{% extends 'base_templates.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% block title %}
    <title>Editar Perfil</title>
{% endblock %}

{% block content %}
    <h1>Editar Perfil</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.name.label }} {{ form.name(size=32) }}
        </div>
        <div>
            {{ form.email.label }} {{ form.email(size=32) }}
        </div>
        <div>
            {{ form.phone.label }} {{ form.phone(size=32) }}
        </div>
        <div>
            {{ form.address.label }} {{ form.address(size=32) }}
        </div>
        <div>
            {{ form.birthdate.label }} {{ form.birthdate(size=32) }}
        </div>
        <div>
            {{ form.submit(value="Guardar Cambios") }}
        </div>
    </form>
{% endblock %}

