{% extends 'base_templates.html' %}

{% block title %}
    <title>Editar Perfil</title>
{% endblock %}

{% block content %}
    <h1>Editar Perfil</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.nombre.label }} {{ form.nombre(size=32) }}
        </div>
        <div>
            {{ form.email.label }} {{ form.email(size=32) }}
        </div>
        <div>
            {{ form.telefono.label }} {{ form.telefono(size=32) }}
        </div>
        <div>
            {{ form.calle.label }} {{ form.calle(size=32) }}
        </div>
        <div>
            {{ form.submit(value="Guardar Cambios") }}
        </div>
    </form>
{% endblock %}

