<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Empresa Comodín</title>
</head>
<body>
    <header>
            <a id="login-btn" href="{{ url_for('login')}}">Iniciar Sesión</a>
            <a id="register-btn"href="{{ url_for('signup')}}">Registrarse</a>
    </header>

    <main>
        <h1>Bienvenido a tu portal de trabajo</h1>
        <p>En esta plataforma registramos los trabajos y tareas realizadas.</p>
        <p label="aviso">¡No te olvides de iniciar sesión al empezar la jornada!</p>
    </main>
</body>
</html>
