<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% if current_user.name %}
    <title>Empresa Comodín || {{ current_user.name }}</title>
    {% else %}
    <title>Empresa Comodín</title>
    {% endif %}
</head>
<body>
    <header>
        {% if current_user.is_authenticated %}

        <span id="login-btn">{{ current_user.name }}</span>
        <a id="login-btn" href="{{ url_for('profile', user_id=current_user.id)}}">Perfil</a>

    {% endif %}
    
    {% if current_user.admin == 1 %}

        <a id="login-btn" href="{{ url_for('dashboard')}}">Panel de Administrador</a>

    {% endif %}
        {% if not current_user.is_authenticated %}
            <a id="login-btn" href="{{ url_for('login')}}">Iniciar Sesión</a>
            <a id="register-btn" href="{{ url_for('signup')}}">Registrarse</a>
        {% else %}
            <a id="login-btn" href="{{ url_for('logout')}}">Cerrar Sesión</a>
        {% endif %}
    </header>
    <main class="fondoblur2" >
        <h1>Bienvenido a tu portal de trabajo</h1>
        <p>En esta plataforma registramos los trabajadores y administramos</p>
    </main>
</body>
</html>


