<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a id="login-btn" href="{{ url_for('index')}}">Home</a>
        <a id="register-btn" href="{{ url_for('logout')}}">Cerrar Sesion</a>
    </header>
    <main>
        <h1>Perfil</h1>
        <div>
            <p>Nombre: {{ current_user.name }}</p>
            <p>Email: {{ current_user.email }}</p>
            {% if current_user.phone %}
            <p>Telefono: {{ current_user.phone }}</p>
            {% else %}
            <p>Telefono: No registrado</p>
            {% endif %}
            {% if current_user.street %}
            <p>Direccion: {{ current_user.street }}</p>
            {% else %}
            <p>Direccion: No registrada</p>
            {% endif %}
            {% if current_user.birthdate %}
            <p>Fecha de nacimiento: {{ current_user.birthdate }}</p>
            {% else %}
            <p>Fecha de nacimiento: No registrada</p>
            {% endif %}
            <a href="{{ url_for('edit', user_id=current_user.id) }}">Editar Perfil</a>
        </div>
    </main>
</body>
</html>