{% extends 'base_templates.html' %}

{% block title %}
    <title>Registro</title>
{% endblock %}

{% block header %}
 <a id="login-btn" href="{{ url_for('login')}}">Iniciar Sesión</a>
 <a id="register-btn"href="{{ url_for('signup')}}">Registrarse</a>
{% endblock %}

{% block content %}
    <h2>Registro</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}<br>
            {% for error in form.name.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control") }}<br>
            {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control") }}<br>
            {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.remember_me() }} {{ form.remember_me.label }}
        </div>
        <div>
            {{ form.submit(class="form-control") }}
        </div>
    </form>
{% endblock %}
